<a href="https://colab.research.google.com/github/Shitolee/Calculator/blob/main/Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [25]:
from pyspark.sql import SparkSession

In [26]:
spark = SparkSession.builder.appName('Pyspark').getOrCreate()

In [88]:
spark

In [89]:
df = spark.read.csv('/content/data_m1.csv',header=True,inferSchema=True)

In [90]:
df.show()

+-------+-----+------+
|   Name|Marks|Grades|
+-------+-----+------+
|Priyang|   98|     A|
| Aadhya|   96|     A|
| Krisha|   99|     A|
| Vedant|   87|     B|
| Parshv|   90|     B|
| Mittal|   78|     C|
|Archana|   82|     C|
+-------+-----+------+

In [91]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Marks: integer (nullable = true)
 |-- Grades: string (nullable = true)

In [92]:
df.columns

['Name', 'Marks', 'Grades']

In [93]:
df.count()

7

In [94]:
len(df.columns)

3

In [95]:
df.describe().show()

+-------+------+-----------------+------+
|summary|  Name|            Marks|Grades|
+-------+------+-----------------+------+
|  count|     7|                7|     7|
|   mean|  NULL|             90.0|  NULL|
| stddev|  NULL|8.144527815247077|  NULL|
|    min|Aadhya|               78|     A|
|    max|Vedant|               99|     C|
+-------+------+-----------------+------+

In [96]:
df.columns

['Name', 'Marks', 'Grades']

In [97]:
df.toPandas()['Grades'].unique()

array(['A', 'B', 'C'], dtype=object)

In [98]:

len(df.toPandas()['Grades'].unique())

3

In [99]:
df.show()

+-------+-----+------+
|   Name|Marks|Grades|
+-------+-----+------+
|Priyang|   98|     A|
| Aadhya|   96|     A|
| Krisha|   99|     A|
| Vedant|   87|     B|
| Parshv|   90|     B|
| Mittal|   78|     C|
|Archana|   82|     C|
+-------+-----+------+

In [100]:
df.select('Name').show()

+-------+
|   Name|
+-------+
|Priyang|
| Aadhya|
| Krisha|
| Vedant|
| Parshv|
| Mittal|
|Archana|
+-------+

In [101]:
df.select(['Name','Grades']).show()

+-------+------+
|   Name|Grades|
+-------+------+
|Priyang|     A|
| Aadhya|     A|
| Krisha|     A|
| Vedant|     B|
| Parshv|     B|
| Mittal|     C|
|Archana|     C|
+-------+------+

In [102]:
df = df.withColumn('New_Marks',df.Marks+1)

In [103]:
df.show()

+-------+-----+------+---------+
|   Name|Marks|Grades|New_Marks|
+-------+-----+------+---------+
|Priyang|   98|     A|       99|
| Aadhya|   96|     A|       97|
| Krisha|   99|     A|      100|
| Vedant|   87|     B|       88|
| Parshv|   90|     B|       91|
| Mittal|   78|     C|       79|
|Archana|   82|     C|       83|
+-------+-----+------+---------+

In [105]:
df =df.withColumnRenamed('Name','Student_Name')

In [106]:
df.show()

+------------+-----+------+---------+
|Student_Name|Marks|Grades|New_Marks|
+------------+-----+------+---------+
|     Priyang|   98|     A|       99|
|      Aadhya|   96|     A|       97|
|      Krisha|   99|     A|      100|
|      Vedant|   87|     B|       88|
|      Parshv|   90|     B|       91|
|      Mittal|   78|     C|       79|
|     Archana|   82|     C|       83|
+------------+-----+------+---------+

In [109]:
df.filter(df['Marks']>90).select('student_Name').show()

+------------+
|student_Name|
+------------+
|     Priyang|
|      Aadhya|
|      Krisha|
+------------+

In [110]:
df.filter(df['Marks']>90).select('student_Name','Grades').show()

+------------+------+
|student_Name|Grades|
+------------+------+
|     Priyang|     A|
|      Aadhya|     A|
|      Krisha|     A|
+------------+------+

In [116]:
df.filter((df['Marks']>90) & (df['Grades']=='A')).select('student_Name').show()

+------------+
|student_Name|
+------------+
|     Priyang|
|      Aadhya|
|      Krisha|
+------------+

In [118]:
df.groupBy('Grades').mean().show()

+------+-----------------+-----------------+
|Grades|       avg(Marks)|   avg(New_Marks)|
+------+-----------------+-----------------+
|     B|             88.5|             89.5|
|     C|             80.0|             81.0|
|     A|97.66666666666667|98.66666666666667|
+------+-----------------+-----------------+

In [120]:
df.columns

['Student_Name', 'Marks', 'Grades', 'New_Marks']

In [122]:
df.orderBy(df['Marks'].desc()).show()

+------------+-----+------+---------+
|Student_Name|Marks|Grades|New_Marks|
+------------+-----+------+---------+
|      Krisha|   99|     A|      100|
|     Priyang|   98|     A|       99|
|      Aadhya|   96|     A|       97|
|      Parshv|   90|     B|       91|
|      Vedant|   87|     B|       88|
|     Archana|   82|     C|       83|
|      Mittal|   78|     C|       79|
+------------+-----+------+---------+

In [123]:
from pyspark.sql.functions import mean

In [124]:
mean1 = df.select(mean(df['Marks'])).collect()

In [125]:
mean1[0][0]

Row(avg(Marks)=90.0)

In [127]:
df.fillna(mean1[0][0]).show()

+------------+-----+------+---------+
|Student_Name|Marks|Grades|New_Marks|
+------------+-----+------+---------+
|     Priyang|   98|     A|       99|
|      Aadhya|   96|     A|       97|
|      Krisha|   99|     A|      100|
|      Vedant|   87|     B|       88|
|      Parshv|   90|     B|       91|
|      Mittal|   78|     C|       79|
|     Archana|   82|     C|       83|
+------------+-----+------+---------+